@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Montserrat&family=Oswald:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
}

.outer {
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #EDF1F7;
  width: 100vw;
  height: 100vh;
  max-width: 500px;
  border: 1px solid light;
}

.NavBar {
  height: 10%;
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.nav-douple {
  width: 100%;
  /* margin-left: 10%; */
  /* margin-right: 10%;
  padding-left: 10%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid blue; */
  align-items: center;
  background-color: #EDF1F7;

  
}

.left {
  background-color: black;
  height: 50px;
  width: 50px;
  margin-left: 10%;
}

.right {
  background-color: black;
  height: 50px;
  width: 50px;
  margin-right: 10%;
}

.bar {
  width: 90%;
  height: 5px;
  background-color: #608D72;
  margin-top: 5%;
  border-radius: 4px;
}


.fa-home {
  height: 100%;
  width: 100%;
  color: white;
}

.MainApp {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid violet; */
  /* justify-content: center; */
  align-items: center;


}

.splash-text{
  /* border: 1px solid blue; */
  padding: 10% 10% 0 10%;
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.nav-search-div {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 10%;
}

.plant-search {
  margin-bottom: 0px;

}

.search-btn {
  height: 30px;
  width: 30px;
  color: blue;
  margin-left: 20px;
}



.input {
  -webkit-appearance: none;
  font-family: 'Comfortaa', cursive;
}

.result-plant {
  width: 80%;
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}

.plant-pic {
  height: 90px;
  width: 30%;
  background-image: url("https://i.pinimg.com/originals/38/2a/ad/382aad040d3a8de15aab8f3e62e2b21a.jpg");
  background-size: cover;
  border-radius: 4px;
}

.name-douple {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 30px;
}

.name-common {
  padding-top: 14px;
  font-size: 24px;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
}

.name-sci {
  font-style: italic;
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

.result {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}

.result-name {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  font-weight: 500;
}

.result-range {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10%;
}

.result-yes {
  font-weight: 900;
  font-size: 24px;
  color: green;
}

.result-no {
  font-weight: 600;
  color: maroon;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
